html{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    color: hsl(215, 51%, 70%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-align: center;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 290px;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    box-shadow: 1px 42px 31px 23px rgba(11,20,36,1);
}

.header-box{
    position: relative;
    font-size: 0; /* elimina espacio fantasma abajo de la imagen */
}
.img-container-eye{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0, 255, 246, 0.5);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.img-container-eye:hover{
   opacity: 1;
}

.img-eye{
position: absolute;
top: 40%;
left: 40%;
}

.main-img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}



h1{
    font-size: 1rem;
    margin-top: 20px;
}

h1 a{
    text-decoration: none;
    color: white;
}

h1 a:hover{
    color: hsl(178, 100%, 50%);
}

.main-text{
    margin-top: 20px;
    text-align: start;
    font-size: 0.8rem ;
    color: hsl(215, 51%, 70%);
    line-height: 1.5;
    font-weight: 300;
}

.data-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 0.8rem;
}

.data-box img{
    
    vertical-align: text-top;
    margin-right: 4px;
    
}

.eth{
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

.time{
    color: hsl(215, 51%, 70%);
}

hr{
    margin-top: 20px;
    align-self: center;
    width: 100%;
    color: hsl(215, 51%, 70%);
    opacity: .25;
}

.footer-box{
    margin-top: 15px;
    font-size: 0.8rem;
}

.footer-box img{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 50%;
}


.footer-box a{
    color: white;
    text-decoration: none;
}

.footer-box a:hover{
    color: hsl(178, 100%, 50%);
}

